* {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: #23252C;
    color: white;
    display: flex;
    justify-content: center;
}


.main-card {
    background-color: #1A1B21;
    width: 320px;
    color: white;
    border-radius: 5px;
}

.info {
    text-align: center;
    
}

.info > img {
    border-top-left-radius: 8px;
     border-top-right-radius: 8px;
    width: 320px;
}

.info > h2 {
    color: #F3BF99;
    font-size: 18px;
    font-weight: 400;
    line-height: 15px;
}

.info > p {
    font-size: 14px
}

.buttons > a {
    display: inline-block;
    background-color: white;
    padding: 10px 30px;
    border-radius: 7px;
    margin: 10px 5px;
    text-decoration: none;
    color: black;
}

.buttons > a:nth-last-child(1){
    color: #ffff;
    background-color: #5093E2;
}

i::before {
    padding: 0px 5px;
}

.about, .interests {
    padding: 0px 20px;
    font-weight: 700;
    font-size: 16px;
}

.about > p , .interests > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

footer{
    background-color: #161619;
    height: 50px;
}

.footer-icons {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap:20px;
}

